@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables.css";

html {
    font-size: 18px;
    @apply text-gray-700;
}

.k-field {
    @apply mb-3;
}

.k-field__error {
    @apply text-red-500 text-sm;
}

.k-input {
    @apply mt-1 w-full;
}

.k-input__input {
    @apply rounded-md shadow-sm border-gray-300 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 w-full;
}

.k-input.has-prefix {
    @apply flex items-center;
}

.k-input__prefix {
    @apply mr-2;
}

.k-select {
    @apply mt-1 w-full;
}

.k-select__select {
    @apply rounded-md shadow-sm border-gray-300 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 w-full;
}

.k-form-nav-item {
    @apply bg-white border-2 border-white sm:rounded-lg px-4 py-3 cursor-pointer;
}

.k-form-nav-item.has-errors {
    @apply border-red-500;
}

.k-form-nav-item.is-complete {
    @apply border-green-500;
}

.k-form-nav-item.is-active {
    @apply bg-blue-400 border-blue-400 text-white;
}

.k-textarea__textarea {
    @apply rounded-md shadow-sm border-gray-300 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 w-full;
}

.k-textarea__textarea:disabled {
    @apply bg-gray-50;
    opacity: 1;
}

.k-input__input:disabled {
    @apply bg-gray-50;
    opacity: 1;
}

.k-select__select:disabled {
    @apply bg-gray-50;
    opacity: 1;
}

.k-upload__upload:disabled {
    @apply bg-gray-50;
    opacity: 1;
}

.k-summary__section {
    @apply flex justify-between text-green-500;
}

.k-summary__section.has-errors {
    @apply text-red-500;
}

.k-upload__upload {
    @apply rounded-md shadow-sm border border-gray-300 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
    padding: 0.25rem;
}

.k-upload__files {
    @apply my-1;
}

.k-upload__file {
    @apply flex items-center;
}

.k-upload__file__remove {
    display: inline-block;
    height: 24px;
    width: 24px;
    @apply ml-2 cursor-pointer;
}

.k-upload__file__name {
    @apply text-blue-400 cursor-pointer;

}

.k-upload__file__name:hover {
    @apply text-blue-300;
}

.k-upload__file__remove svg {
    @apply fill-red-500;
}

.k-input.has-error input {
    @apply border-red-500;
}

.k-textarea.has-error textarea {
    @apply border-red-500;
}

.k-select.has-error select {
    @apply border-red-500;
}

.k-upload.has-error input {
    @apply border-red-500;
}

.k-table {
    @apply mb-3 rounded-md border border-gray-200;
    overflow: hidden;
}

.k-table table {
    table-layout: fixed;
}

.k-table thead {
    @apply bg-blue-400 text-white;
}

.k-table tbody {
    padding: 0.5rem 0;
}

.k-table th {
    @apply py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white;
}

.k-table td {
    @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500;
    vertical-align: top;
    padding: 0.5rem 0.75rem;
}

.k-table tr td:first-child {
    width: 33.33%;
}

.k-table .k-field {
    margin-bottom: 0;
}

.k-table tbody tr:first-child td {
    padding-top: 1rem;
}

.k-table tbody tr:last-child td {
    padding-bottom: 1rem;
}

.k-total {
    @apply flex justify-between font-bold text-sm;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.k-spin {
    animation: infinite 1s spin;
}

.copy a {
    @apply text-blue-500 font-bold;
}

.k-half-field {
    width: calc(50% - 0.5rem);
    display: inline-block;
}

.password-strength__bar {
    position: relative;
    height: 5px;
    background: #eeeff0;
    margin: 6px auto;
    border-radius: 3px;
}

.password-strength__bar::before,
.password-strength__bar::after {
    content: "";
    height: inherit;
    background: transparent;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 5px;
    position: absolute;
    width: 20%;
    z-index: 10;
}

.password-strength__bar::before {
    left: 20%;
}

.password-strength__bar::after {
    right: 20%;
}

.password-strength__fill {
    height: inherit;
    position: absolute;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;
    background: transparent;
    width: 0;
}

.password-strength__fill[data-score="1"] {
    background: #960000;
    width: 20%;
}

.password-strength__fill[data-score="2"] {
    background: #e64d52;
    width: 60%;
}

.password-strength__fill[data-score="3"] {
    background: #ffa32a;
    width: 20%;
}

.password-strength__fill[data-score="4"] {
    background: #daee44;
    width: 80%;
}

.password-strength__fill[data-score="5"] {
    background: #40d13d;
    width: 100%;
}

.search__filter {
    min-width: 150px;
}

.k-modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.k-modal {
    background: white;
    border-radius: 5px;
    padding: 1rem;
    width: 600px;
}

.k-button {
    @apply bg-blue-400 hover:bg-blue-500 active:bg-blue-600 focus:border-blue-100 ring-blue-300;
}

.k-button.is-green {
    @apply bg-green-600 hover:bg-green-700 active:bg-green-900 focus:border-green-300 ring-green-500;
}
